---
layout: base
---
.container
  .row{:style=>'margin-bottom: 45px;'}
    %p
      %center
        %img{:src=>'/images/forge.png'}
    %center
      %pre
        .lead The fastest way to build applications, share your software, and enjoy doing it.

  .container.hidden-phone
    .row
      .span6
        .row
          .span6
            .video
              <iframe width="560" height="315" src="http://www.youtube.com/embed/Clso5vtKu9k?rel=0" frameborder="0" allowfullscreen></iframe>
        .row
          .span6
            %center
              %h5
                %span Follow Forge on Twitter
                %a{ :href =>'http://twitter.com/jbossforge'} @JBossForge
      .span6
        .hero-unit{:style=>"min-height: 200px;"}
          %center
            %h2 The new developer evolution.
            %a.btn.btn-primary.btn-large{ :href =>'#', :onclick=>'_gaq.push([\'_trackEvent\', \'Downloads\', \'1.2.3.Final\']);document.location.href=\'https://repository.jboss.org/nexus/service/local/artifact/maven/redirect?r=releases&g=org.jboss.forge&a=forge-distribution&v=1.2.3.Final&e=zip\''} Download (1.2.3.Final)
            %a.btn.btn-secondary.btn-large{ :href =>'/docs/'} Get Started Now!

  .row.visible-phone
    .hero-unit
      %center
        %h4 The new developer evolution.
        %a.btn.btn-primary.btn-large{ :style=>"width: 89px;", :href =>'#', :onclick=>'_gaq.push([\'_trackEvent\', \'Downloads\', \'1.2.3.Final\']);document.location.href=\'https://repository.jboss.org/nexus/service/local/artifact/maven/redirect?r=releases&g=org.jboss.forge&a=forge-distribution&v=1.2.3.Final&e=zip\''} Download (1.2.3.Final)
        %a.btn.btn-secondary.btn-large{ :style=>"width: 89px;", :href =>'/docs/'} Get Started Now

  .row
    .span6
      %h2 Quick Install
      %p
        %span The fastest and easiest way to install Forge on any operating system is through the use of
        %a{:href=>"http://jboss.org/tools"} JBoss Tools
        %span or
        %a{:href=>"https://devstudio.jboss.com/download/"} JBoss Developer Studio
        %span, where Forge comes pre-installed and makes use of IDE GUI integration. Alternatively, on OSX, you can also use
        %a{:href=>"http://mxcl.github.com/homebrew/"} Homebrew
        %span to install Forge natively for use on the command-line, via "brew install jboss-forge".
      %p
        %ol
          %li Ensure that you have already installed a Java 6+ JDK.
          %li
            %a{:href=>'https://repository.jboss.org/nexus/index.html#nexus-search;gav~org.jboss.forge~forge-distribution~1.*.Final~~'} Download
            %span  and Un-zip Forge (or a recent
            %a{:href=>'https://repository.jboss.org/nexus/index.html#nexus-search;gav~org.jboss.forge~forge-distribution~~~~kw,versionexpand'} snapshot build
            %span ) into a folder on your hard-disk, this folder will be your FORGE_HOME
          %li
            %span Add '$FORGE_HOME/bin' to your path
            %span (
            %a{:href=>'http://www.google.com/search?q=windows+edit+path'} windows
            %span ,
            %a{:href=>'http://www.google.com/search?q=linux+set+path'} linux
            %span ,
            %a{:href=>'http://www.google.com/search?q=mac+osx+edit+path'} mac osx
            %span )
          %li * Consider installing Git and Maven 3.0+ (both optional)
          %li Open a command prompt and run 'forge' (if you are on Windows, you will need to run forge.bat unless using a Unix-style terminal)
    .span6
      %h2 Latest News
      %ul.simple
        - for post in site.posts
          %li
            %h3
              %a{ :href=>post.url }#{post.title}
            - if (post.content.length > 0)
              %p{:style=>"color: #666;"}
                %strong #{post.date.year}-#{post.date.month}-#{post.date.day}: #{post.author}
              %p= summarize(html_to_text(post.content), 50)

